.THIS {
    font-family: var(--lwc-fontFamily,Helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
	color: var(--lwc-colorTextDefault);
}

.THIS .tabFocus {
    border-bottom-style:solid;
    border-bottom-color:var(--lwc-colorBrand);
   	border-bottom-width:3px;
           
}
.THIS .logoContainer {
    margin-left:15px;                    
    width: 41px;
    height: 41px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
                    
.THIS .header-unorder-list-tag{
	align-items: center;                        
}

.THIS .clickable-menu{
	cursor: pointer;              
}
                    
.THIS .companyName {
    font-family: var(--lwc-fontFamily,Helvetica);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
	color: #233348;
}
                            
.THIS .logOutContainer {
	cursor: pointer;                        
 }