.via-slds .via-mobile-policy-slds-card {
    .via-slds-card__header {
        background-clip: content-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
    }
    
    .via-slds-x-small-card__body > .via-slds-grid {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds-card__body,
    .via-slds-x-small-card__body {
        background: #FFF;
        &:last-child {
            border-radius: 0.25em;
        }
    }

    .via-slds-card__body {
        background-clip: padding-box;
        border-radius: 0.25em;
    }

    .via-slds-card__body > .via-slds-border--bottom {
        border-bottom: 1px solid #d8dde6;
    }
    @media (max-width: 479px) and (min-width: 0px) {
        .slds-x-small-show-only {
            display:block !important
        }
        .via-slds-card__header {
            padding-top: 0.5em;
            padding-bottom: .5em;
            .slds-text-heading--small {
                font-size: .95rem;
            }
        }
        .expires {
            font-size: 0.75rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            width: 100%;
        }
    }
}