<div class="slds-grid slds-grid--vertical slds-nowrap">
    <div class="slds-grid via-slds-action-grid-card">
        <div class="slds-size--1-of-3 slds-small-size--1-of-3 slds-medium-size--1-of-4 slds-large-size--1-of-6 slds-m-bottom--small slds-p-right--x-small
        slds-p-left--x-small slds-grid"  ng-repeat="action in data.actions" >
            <a class="slds-button via-slds-button slds-button--neutral slds-size--1-of-1 slds-p-around--small" href="javascript:void(0)" ng-click="importedScope.performAction(action, params)" hotkey-card-action>
                <div>
                    <vloc-card-icon data="action" obj="obj" size="'small'" extra-classes="'big slds-icon-text-default via-action-icon slds-m-bottom--xx-small'"></vloc-card-icon>
                    <br/>
                    <p class="slds-truncate" title="{{action.displayName}}">{{action.displayName}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>